* {
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  background-color: hsl(0, 0%, 98%);
}

.main {
  padding: 15% 0%;
  margin: 5% 10%;
}

.card_supervisor {
  margin: 2em;
  padding: 2em;
  background-color: hsl(0, 0%, 98%);
  border: 1px solid hsl(0, 0%, 98%);
  border-top: 4px solid hsl(180, 62%, 55%);
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px hsl(234, 12%, 34%);
}

.card_builder {
  margin: 2em;
  padding: 2em;
  background-color: hsl(0, 0%, 98%);
  border: 1px solid hsl(0, 0%, 98%);
  border-top: 4px solid hsl(0, 78%, 62%);
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px hsl(234, 12%, 34%);
}

.card_karma {
  margin: 2em;
  padding: 2em;
  background-color: hsl(0, 0%, 98%);
  border: 1px solid hsl(0, 0%, 98%);
  border-top: 4px solid hsl(34, 97%, 64%);
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px hsl(234, 12%, 34%);
}

.card_calculator {
  margin: 2em;
  padding: 2em;
  background-color: hsl(0, 0%, 98%);
  border: 1px solid hsl(0, 0%, 98%);
  border-top: 4px solid hsl(212, 86%, 64%);
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px hsl(234, 12%, 34%);
}

.img {
  text-align: right;
  padding-top: 2em;
  margin-top: 1em;
}

p {
  color: hsl(229, 6%, 66%);
  font-weight: 200;
  margin-top: 0.5em;
}

h1 {
  font-weight: 600;
}

h3 {
  color: hsl(234, 12%, 34%);
  font-weight: 400;
}

footer {
  margin: 1.5em;
  padding: 1.5em;
}
